input[type="text"] {
  margin: 0;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="checkbox"] {
  margin: 0;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  vertical-align:middle; 
}




.narrowbox {width: 30px;}


table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 1;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody tr:nth-child(odd) {
  background: #eee;
}
